<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="../../assets/james-yoel.jpg" alt="james">
        <div class="card-body">
            <h5 class="card-title">James Yoel</h5>
            <p class="card-text">NIM : 00000028895</p>
            <p class="card-text">Jurusan : Informatika</p>
            <p class="card-text">Angkatan : 2018</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../assets/dinda.jpg" alt="dinda">
        <div class="card-body">
            <h5 class="card-title">Dinda Prilliagrandi Pasulu</h5>
            <p class="card-text">NIM : 00000033615</p>
            <p class="card-text">Jurusan : Informatika</p>
            <p class="card-text">Angkatan : 2018</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../assets/aqsa.jpg" alt="aqsa">
        <div class="card-body">
            <h5 class="card-title">Muhammad Aqsa Hamdani</h5>
            <p class="card-text">NIM : 00000032922</p>
            <p class="card-text">Jurusan : Informatika</p>
            <p class="card-text">Angkatan : 2018</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../assets/zhikri.jpg" alt="zhikri" s>
        <div class="card-body">
            <h5 class="card-title">Muhammad Zhikri</h5>
            <p class="card-text">NIM : 00000033093</p>
            <p class="card-text">Jurusan : Informatika</p>
            <p class="card-text">Angkatan : 2018</p>
        </div>
    </div>
</div>