@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

.login-container {
    height: 100vh;
    width: 100%;
}

.login-form {
    max-width: 100%;
    width: 370px;
    padding: 15px;
    margin: auto;
}

.btn-primary {
    background-color: #ff6f61;
    border: none;
}

.login-form a {
    text-decoration: none;
    color: #bbbbbb;
}

.login-form a:hover {
    color: #ff6f61;
}