<!--Navbar-->
<!--End Navbar-->

<!--JumboTron carausel-->
<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <img src="../../assets/pic1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Tingkatkan produktivitas</h5>
                    <p>Gunakan fasilitas kami untuk meningkatkan produktivitas anda</p>
                </div>
            </div>
            <div class="carousel-item" data-interval="10000">
                <img src="../../assets/pic2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Bebas biaya sewa</h5>
                    <p>Bebas biaya sewa bagi mahasiswa umn</p>
                </div>
            </div>
            <div class="carousel-item" data-interval="10000">
                <img src="../../assets/pic1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Peminjaman mudah dan cepat</h5>
                    <p>Meminjam fasilitas kami sangat mudah dan cepat</p>
                    <a routerLink="/login" class="btn btn-primary button1">Get Started</a>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!--End jumbotron carousel-->


<div class="container">
</div>